body {
    background-color: #10085D;
    font-family: Consolas;
    color: white;
}

h2 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact {
    font-style: Italic;
}

.business-card {
    width: 300px;
    background-color: #CEB2FF;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
}

.profile-image {
    max-width: 80%;
    outline: double;
    outline-color: #42359E;
    border-radius: 50%;
}

.linkedin,
.github {
    max-width: 10%;
}

hr {
    background-color: #42359E;
    border-color: #42359E;
}